@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 54.4% 94%;
    --foreground: 31 85.3% 10%;

    --card: 45 54.4% 94%;
    --card-foreground: 31 85.3% 10%;

    --popover: 45 54.4% 94%;
    --popover-foreground: 39 54% 36.7%;

    --primary: 31 85.3% 10%;
    --primary-foreground: 45 54.4% 94%;

    --secondary: 45 33.3% 81.2%;
    --secondary-foreground: 39 54% 36.7%;

    --muted: 45 54.4% 90%;
    --muted-foreground: 45 40% 70%;

    --accent: 45 54.4% 90%;
    --accent-foreground: 31 85.3% 10%;

    --destructive: 0 62% 36.1%;
    --destructive-foreground: 210 40% 98%;

    --border: 31 30% 60%;
    --input: 39 54% 36.7%;
    --ring: 31 85.3% 10%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 45 54.4% 88.8%;
    --foreground: 31 85.3% 10%;

    --card: 45 54.4% 88.8%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7, 26.8%, 83.9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply text-4xl sm:text-6xl lg:text-7xl 2xl:text-8xl;
  @apply font-bold;
}
h2 {
  @apply text-3xl sm:text-4xl xl:text-6xl;
  @apply font-semibold;
}

h3 {
  @apply text-2xl sm:text-3xl;
  @apply font-semibold;
}
h4 {
  @apply text-xl sm:text-2xl;
  @apply font-medium;
}
h5 {
  @apply text-xl;
  @apply font-medium;
}
p {
  @apply text-lg;
}
